.Sign_up 
{  
   
    border: 5px solid black;
    padding: 10%;
    width:50%;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    display: inline-block;
    }


/* Full-width input fields */
.Sign_up  input[type=text], input[type=password],input[type=email] ,caption{
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;

}

.Sign_up label {
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #ec5f5f;

}

/* Full-width input fields */
.Sign_up  input[type=textarea] {
  height: 50%;
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;

}



.Sign_up input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.Sign_up hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
.Sign_up button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}

.Sign_up button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.Sign_up .cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.Sign_up .cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.Sign_up {
  padding: 16px;
}

/* Clear floats */
.Sign_up .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}